/**
 * RTL style
 *
 * @package miranda
 */

body{
  direction: rtl;
  unicode-bidi: embed;
}
 
caption,
th,
td {
	text-align: right;
}

.more-link:after, 
.nav-previous:before {
	float:right;
	margin-left:10px;
	content: "\f061";
}
  
.nav-next:after{
	margin-right:10px;
	content: "\f060";
}
 
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
	text-align: right;
	
}

.more-link,
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: left;
}

#header-menu li {
	float: right;
}

#header-menu ul ul {
	padding-left:1em;
}


@media screen and (max-width: 600px) {
	#header-menu  ul li{
		float: right;
	}
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	left: 6px;
	padding: 15px 0 14px 23px;
}	

.widget ul{
	float:right;
}

.widget ul li{
	margin-right:9px;
	text-align:right;
}

.rss-date{width:90%; float:right; clear:both;}

.content-area {
	float: left;
	margin: 0 -25% 0 0;
	padding:0;
	width: 74%;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}











